{% if rows == blank %}{% assign rows = 1 %}{% endif %}
{% if cols == blank %}{% assign cols = 3 %}{% endif %}
{% assign total_products = cols | times: rows %}

<div>
  {% case cols %}
    {% when 5 %}
      {% assign grid_item_width = 'medium-down--one-half post-large--one-fifth' %}
    {% when 4 %}
      {% assign grid_item_width = 'medium-down--one-half post-large--one-quarter' %}
    {% else %}
      {% assign grid_item_width = 'medium--one-third post-large--one-third' %}
  {% endcase %}

  <div class="grid-uniform">
    {% for product in collections[handle].products limit: total_products %}
      <div class="grid__item {{grid_item_width}}">
        {% include 'product-grid-item' with featured: product %}
      </div>
    {% endfor %}
  </div>
</div>