<section>
    <div class="container footercontainer">
        <div class="row ">
          <div class="col-12 ">
            <div class="container">
                <div class="row co">
                  <div class="col cardsa">
                    <div class="focont">
                    	 <h2 class="footer-title">CUSTOMER SERVICE</h2> 
                      <p>
                        Help & Contact Us <br>
                        Returns & Refunds <br>
                        Online Stores <br>
                        Terms & Conditions</p>
                    </div>
                  </div>
                  <div class="col cardsa">
                    <div class="focont">
                    <h2 class="footer-title">COMPANY</h2> 
                        <p>
                          What We Do <br>
                          Available Services <br>
                          Latest Posts <br>
                          FAQs</p>
                  </div>
                  <div class="col cardsa">
                    <div class="focont">
                    <h2 class="footer-title">SOCIAL MEDIA</h2> 
                        <p>
                          Twitter<br>
                          Instagram<br>
                          Tumblr<br>
                          Pinterest</p>
                  </div>
                  <div class="col cardsa">
                    <div class="focont">
                    <h2 class="footer-title">PROFILE</h2> 
                        <p>
                          My Account <br>
                          Checkout<br>
                          Order Tracking<br>
                          Help & Support</p>
                  </div>
                </div>
              </div>
            
          </div>
        </div>
       
      </div>
</section>

  
{% schema %}
{
  "name": "Footer page",
  "settings": [
         
              ],
  "presets": [
              {
                  "category": "footer-pages",
                  "name": "footer-page"
              }
              ]
}
{% endschema %}