<section id="sec-con">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div>
          <h1>BRAND CENTERED BUYING</h1>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

