<section id="sec-con">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div>
          <h1>BRAND CENTERED BUYING</h1>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur a elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient nasceturidiculus mus. Vestibulum ultricies aliquam convallis. Maecenas ut tellus mi. Proin tincidunt, lectus eu volutpat mattis, ante metus lacinia tellus, vitae condimentum nulla enim bibendum nibh. Praesent turpis risus, interdum nec venenatis </p>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Second page",
    "settings": [
					{
						"type": "text",
						"id":   "heading-title",
						"label":"Heading title",
						"default": "Lorem ipsum"
					}
				]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

