<section id="third-con">
  <div class="container">
    <div class="row">
    	<div class="container  text-center">
  <div class="row">
    <div class="col gap-5 text-center">
      <div>
      	<img width="288"height="349" src="{{section.settings.image1 }}" alt="car-image1">
      </div>
      <div></div>
    </div>
    <div class="col">
       <div>
      	<img width="288"height="349"src="https://depot.qodeinteractive.com/wp-content/uploads/2017/01/h1-product-8-600x728.jpg" alt="car-image1">
      </div>
    </div>
    <div class="col">
       <div>
      	<img width="288"height="349"src="https://depot.qodeinteractive.com/wp-content/uploads/2017/01/h1-product-8-600x728.jpg" alt="car-image1">
      </div>
    </div>
    <div class="col">
       <div>
      	<img width="288"height="349"src="https://depot.qodeinteractive.com/wp-content/uploads/2017/01/h1-product-8-600x728.jpg" alt="car-image1">
      </div>
    </div>
  </div>
</div>
    </div>
   
  </div>
</section>

{% schema %}
  {
    "name": "third name",
    "settings": [
                {
					"type": "image_picker",
					"id" : "image1",
					"label": "Image1"
				},
                {
					"type": "image_picker",
					"id" : "image2",
					"label": "Image1"
				},
                {
					"type": "image_picker",
					"id" : "image3",
					"label": "Image1"
				},
                {
					"type": "image_picker",
					"id" : "image4",
					"label": "Image1"
				}
                ],
    "presets": [
				{
					"category": "pages",
					"name": "third-page"
				}
				]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
