<section id="third-con">
  <div class="container">
    <div class="row">
    	<div class="container  text-center">
  <div class="row">
    <div class="col card text-center">
      <div>
      	<img src="srcset="https://depot.qodeinteractive.com/wp-content/uploads/2017/01/h1-product-8-505x505.jpg 505w, https://depot.qodeinteractive.com/wp-content/uploads/2017/01/h1-product-8-100x100.jpg 100w, https://depot.qodeinteractive.com/wp-content/uploads/2017/01/h1-product-8-150x150.jpg 150w, https://depot.qodeinteractive.com/wp-content/uploads/2017/01/h1-product-8-300x300.jpg 300w, https://depot.qodeinteractive.com/wp-content/uploads/2017/01/h1-product-8-768x768.jpg 768w, https://depot.qodeinteractive.com/wp-content/uploads/2017/01/h1-product-8-1024x1024.jpg 1024w, https://depot.qodeinteractive.com/wp-content/uploads/2017/01/h1-product-8-550x550.jpg 550w, https://depot.qodeinteractive.com/wp-content/uploads/2017/01/h1-product-8-1100x1100.jpg 1100w, https://depot.qodeinteractive.com/wp-content/uploads/2017/01/h1-product-8.jpg 1125w"" alt="car-image1">
      </div>
      <div></div>
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>
    </div>
   
  </div>
</section>

{% schema %}
  {
    "name": "Section name",
    "settings": [
                
                ],
    "presets": [
				{
					"category": "pages",
					"name": "third-page"
				}
				]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
