span.main-title {
    font-family: fantasy;
    font-weight: 400;
}

span.sub-title {
    font-size: 19px;
    font-weight: 800;
    color: white;
}

h1.sec-title {
    font-weight: 400;
    font-family: fantasy;
    margin-bottom: 1em;
  	font-size:25px;
}

.con-sec{
padding: 5em 12em 0 12em;
} 

.desc-con {
    padding: 0 12em 5em 12em;
}
.nav-link.active{
color:black;
}
.nav-link{
color:#929292;
  font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.nav-link:hover{
 color:#080808; 
}

/*  */
.third-con{
margin-top:10px;
}